#database
db.sqlite3

#python folders
gameAPI/gameAPI/__pycache__/
gameAPI/MainService/__pycache__/
gameAPI/User/__pycache__/
gameAPI/AnalysisService/__pycache__/

#others
.env
gameAPI/MainService/migrations/
gameAPI/User/migrations/
gameAPI/AnalysisService/migrations/
.idea/


